<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head >
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<link href="${request.contextPath}/css/css.css" rel="stylesheet" type="text/css" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" >
		<script >
			function setTotal(zs){
				parent.forsub(zs);
			}
        </script>
    </head>
<body onload="setTotal($xws.total)">
	<div id="rightPan">
		<!-- 新闻列表 -->
		<ul>
		#foreach($xw in $xws.rows)
				<li><a  href="${request.contextPath}/fast/wzgl/getcontent/$xw.id">$xw.bt</a></li>
		#end
		</ul>
	</div>
</body>
</html>
