<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" >
	<script src="${request.contextPath}/js/jquery.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="${request.contextPath}/js/ui/om-core.js"></script>
    <script type="text/javascript" src="${request.contextPath}/js/ui/om-mouse.js"></script>
    <script type="text/javascript" src="${request.contextPath}/js/ui/om-resizable.js"></script>
    <script type="text/javascript" src="${request.contextPath}/js/ui/om-grid.js"></script>
	<script type="text/javascript" src="${request.contextPath}/js/ui/om-dialog.js"></script>
	<script type="text/javascript" src="${request.contextPath}/js/ui/om-position.js"></script>
	<script type="text/javascript" src="${request.contextPath}/js/ui/om-draggable.js"></script>
	<script type="text/javascript" src="${request.contextPath}/js/ui/om-button.js"></script>
	<script type="text/javascript" src="${request.contextPath}/js/ui/om-validate.js"></script>
	<script type="text/javascript" src="${request.contextPath}/js/ui/om-ajaxsubmit.js"></script>
	<script type="text/javascript" src="${request.contextPath}/js/ui/om-combo.js"></script>
	<script type="text/javascript" src="${request.contextPath}/js/ui/om-messagebox.js"></script>
	<script type="text/javascript" src="${request.contextPath}/js/ui/om-tree.js"></script>
	
    <link rel="stylesheet" type="text/css" href="${request.contextPath}/css/om-all.css" />
	<link rel="stylesheet" type="text/css" href="${request.contextPath}/css/base.css" />
	<link rel="stylesheet" type="text/css" href="${request.contextPath}/css/demo.css"/>
	<style>
        #lxForm label {color:red;}
        #droplist{
	        display:none; 
	        position: fixed; 
	        width:200px;
	        /* 兼容IE6,7 */
	        *width:258px;
	        /* 兼容IE8 */
	        width:200px\0;
	        height:200px;
	        border:1px solid;
	        overflow: auto;
			background:#FFFFFF;
     	}
    </style>
    <script type="text/javascript">
        $(document).ready(function() {
			$('#create').omButton({});
			$('#modify').omButton({});
			$('#delete').omButton({});
			$('#query').omButton({});
			
			var qurl='${request.contextPath}/fast/lxgl';
			var selectIds = [];
			//表格start-----------------------------------------------------------------------/
            $('#lxgl_grid').omGrid({
                title: "类型管理",
                dataSource : qurl+'/list',
				limit : 50, //分页显示，每页显示多少条
                showIndex : false,//显示索引
                singleSelect : false,
				errorMsg : '获取数据发生异常!',
				method:'post',
                colModel : [ {header : 'ID', name : 'id', width : 30,align : 'center'}, 
                             {header : '类型名称', name : 'nm', width : 200,align : 'left'}, 
							 {header : '上级类型', name : 'lxnm', width : 200,align : 'center'},
							  {header : '是否可添加子节点', name : 'bznm', width : 350,align : 'center',renderer:function(v,row,rowdata){
                                return rowdata.bz=='0'?'<span style="color:red">不可添加子节点</span>':'<span style="color:green">可添加子节点</span>';
							  }},
                             {header : '类型描述', name : 'mx', width : 300,align : 'left'},
							 {header : '上级类型ID', name : 'pid', width : 1,align : 'center'},
							 {header : 'bz', name : 'bz', width : 1,align : 'center'}
							],
				onRowSelect : function(index, data){
                			if($.inArray(data.id, selectIds)== -1)
                       			selectIds.push(data.id);
            				},
            	onRowDeselect : function(index, data){
                			var i = $.inArray(data.id, selectIds);
                			selectIds.splice(i,1);
            				},
				onRefresh : function(nowpage, records){
							selectIds = [];
            				}
            });
			//表格end-----------------------------------------------------------------------/
			//对话框start-----------------------------------------------------------------------/
			var dialog = $("#lx-form-dialog").omDialog({
                width: 550,
                autoOpen : false,
                modal : true,
                resizable : false,
                buttons : {
                    "提交" : function(){
		                submitDialog();
		                return false; //阻止form的默认提交动作
		            },
                    "取消" : function() {
                        $("#lx-form-dialog").omDialog("close");//关闭dialog
                    }
                }
            });
            //显示dialog并初始化里面的输入框的数据
            var showDialog = function(title,rowData){
				var bzvl = $("input[name='bz']",dialog);
				$("#lx-form-dialog").omDialog("setBtnTxt",0,title);
                validator.resetForm();
                rowData = rowData || {};
                $("input[name='id']",dialog).val(rowData.id);
                $("input[name='nm']",dialog).val(rowData.nm);
                $("input[name='mx']",dialog).val(rowData.mx);
				$("input[name='pid']",dialog).val(rowData.pid);
				$("input[name='position']",dialog).val(rowData.lxnm);
				bzvl[0].checked=rowData.bz=='1'?true:false;
				bzvl[1].checked=rowData.bz=='0'?true:false;
                dialog.omDialog("option", "title", title);
                dialog.omDialog("open");//显示dialog
            };
            //dialog中点提交按钮时将数据提交到后台并执行相应的add或modify操作
            var submitDialog = function(){
				var bzvl = $("input[name='bz']",dialog);
                if (validator.form()) {
	                var submitData={
	                    operation:isAdd?'/insert':'/update',
						id:$("input[name='id']",dialog).val(),
	                    nm:$("input[name='nm']",dialog).val(),
	                    mx:$("input[name='mx']",dialog).val(),
	                    pid:$("input[name='pid']",dialog).val(),
						bz:bzvl[0].checked?'1':'0'
	                };
	                $.post(qurl+submitData.operation,submitData,function(rs){
						if(rs.indexOf('成功')!=-1){
							if(isAdd){
	                        $('#lxgl_grid').omGrid('reload',1);//如果是添加则滚动到第一页并刷新
    	                    }else{
    	                        $('#lxgl_grid').omGrid('reload');//如果是修改则刷新当前页
    	                    }
							$('#tree').omTree('refresh');//刷新类型树
						}
						$.omMessageBox.alert({content:rs});
	                    $("#lx-form-dialog").omDialog("close"); //关闭dialog
	                });
                }
            };
            var isAdd = true; //弹出窗口中是添加操作还是修改操作？
            $('#create').bind('click', function() {
                isAdd = true;
                showDialog('新增类型');//显示dialog
            });
            $('#modify').bind('click', function() {
                var selections=$('#lxgl_grid').omGrid('getSelections',true);
                if (selections.length == 0) {
                    $.omMessageBox.alert({content:'请至少选择一行记录'});
                    return false;
                }
                isAdd = false;
                showDialog('修改类型',selections[0]);//显示dialog
            });
            $('#delete').bind('click', function(e) {
                if (selectIds.length == 0) {
                    $.omMessageBox.alert({content:'请至少选择一行记录进行删除操作'});
                    return false;
                }
				$.omMessageBox.confirm({
                    title:'确认删除',
                    content:'删除记录不可恢复，你确定要删除吗？',
                    onClose:function(value){
                         if(value){
						 	$.post(qurl+'/delete',{ids:selectIds.toString(),ids_len:selectIds.length},function(rs){
                                if(rs.indexOf('成功')!=-1){
									$('#lxgl_grid').omGrid('reload');//刷新当前页数据
									$('#tree').omTree('refresh');//刷新类型树
                					selectIds = [];
								}
								$.omMessageBox.alert({content:rs});
                            });
						 }
                    }
            	});
            });
            $('#query').bind('click', function(e) {
                var qbt=$('#qbt').val();
                if(qbt===""){ //没要有查询条件，要显示全部数据
                    $('#lxgl_grid').omGrid("setData", qurl+'/list');
                }else{ //有查询条件，显示查询数据
                    $('#lxgl_grid').omGrid("setData", qurl+'/list?l.nm='+encodeURI(qbt));
                }
            });
			 // 对表单进行校验
            var validator = $('#lxForm').validate({
                rules : {
                    nm : {required: true}, 
                    mx : {required : true},
                    pid : {required : true},
					bz : {required : true}
                }, 
                messages : {
                    nm : {required : "类型名称不能为空!"},
                    mx : {required : "类型描述不能为空!"},
                    pid : {required : "所属上级ID不能为空!"},
					bz : {required : "请选择子节点是否可添加!"}
                }
            });
            //对话框end-----------------------------------------------------------------------/
            //下拉树start-----------------------------------------------------------------------/
            $("#tree").omTree({
                dataSource : '${request.contextPath}/fast/lxgl/tree?pid=LX_ALL_ID',
                onSelect: function(nodedata){
                	   /**
                	   var ndata = nodedata, text = ndata.text;
            		   ndata = $("#tree").omTree("getParent",ndata);
                	   while(ndata){
                		   text = ndata.text +"-" +text;
                		   ndata = $("#tree").omTree("getParent",ndata);
                	   }*/
                	   $("#position").val(nodedata.text);
                	   $("#pid").val(nodedata.value);
                	   hideDropList();
                },
               onBeforeSelect: function(nodedata){
            	   /**如果选中的是非叶子叶节点不回填
            	   if(nodedata.children){
            		   return false;
            	   }*/
               }
            });
            //点击下拉按钮显示下拉列表
            $("#choose").click(function(){
            	showDropList();
            });
            //点击输入框显示下拉列表
            $("#position").val("").click(function(){
            	showDropList();
            });
            function showDropList(){
            	var cityInput = $("#position");
            	var cityOffset = cityInput.offset();
            	var topnum = cityOffset.top+cityInput.outerHeight();
            	if($.browser.msie&&($.browser.version == "6.0"||$.browser.version == "7.0")){
            		topnum = topnum + 2;
            	}
            	$("#droplist").css({left: cityOffset.left + "px",top: topnum +"px"})
            	              .show();
            	//body绑定mousedown事件，当事件对象非下拉框、下拉按钮等下拉列表隐藏。
            	$("body").bind("mousedown", onBodyDown);
            }
            function hideDropList() {
    			$("#droplist").hide();
    			$("body").unbind("mousedown", onBodyDown);
    		}
    		function onBodyDown(event) {
    			if (!(event.target.id == "choose" || event.target.id == "droplist" || $(event.target).parents("#droplist").length>0)) {
    				hideDropList();
    			}
    		}
    		//下拉树end-----------------------------------------------------------------------/
        });
    </script>
</head>
<body>
	<!-- 查询条件及按钮 -->
	<div id="tbdiv">
        <input id="create" type="button" value="新增"/>
        <input id="modify" type="button" value="修改"/>
        <input id="delete" type="button" value="删除"/>
        类型名称(模糊查询，为空时显示全部)：<input id="qbt"></input>
        <input id="query" type="button" value="查询"/>
    </div>
	<!-- 显示类型列表 -->
    <table id="lxgl_grid"></table>
	<!-- 新增或修改窗口 -->
	<div id="lx-form-dialog">
        <form id="lxForm">
	        <input name="id" style="display: none"/>
	        <table>
	            <tr>
	                <td>类型名称：</td>
	                <td><input name="nm" /></td>
	            </tr>
	            <tr>
	                <td>类型描述：</td>
	                <td><input name="mx" /></td>
	            </tr>
				<tr>
	                <td>是否可添加子节点：</td>
	                <td>允许<input name="bz" type="radio"  value="1" checked/>不允许<input name="bz" type="radio" value="0"/></td>
	            </tr>
	            <tr>
	                <td>类型上级ID：</td>
	                <td>
	                	<span class="om-combo om-widget om-state-default">
					        	<input type="hidden" id="pid" name="pid"/>
					            <input type="text" id="position" name="position" readonly="readonly">
					            <span id="choose" class="om-combo-trigger"></span>
					    </span>
					    <div id="droplist" >
						    <ul id="tree" style="text-align:left;"></ul>
						</div>
	                </td>
	            </tr>
	        </table>
        </form>
    </div>
</body>
</html>