<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" >
    <title>编辑器</title>
    <script src="${request.contextPath}/js/jquery.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="${request.contextPath}/js/ui/om-core.js"></script>
    <script type="text/javascript" src="${request.contextPath}/js/ui/editor/omeditor.js"></script>
	<link rel="stylesheet" type="text/css" href="${request.contextPath}/css/demo.css" />
</head>
<body>
    <!-- view_source_begin -->
    <textarea id="editor1" class="editor">上传图片示例，默认支持以下文件类型：jpg,gif,png，文件大小限制不能超过100KB</textarea>
    <script>
        //         
        $(function() {
            var editor = $('.editor').omEditor({
                             filebrowserImageUploadUrl : '../../../omEditorImageUpload.do?type=Images'
                         });
        });
        //
    </script>
    <!-- view_source_end -->
    <div id="view-desc">
        <p>设置编辑器的filebrowserImageUploadUrl属性，配合服务器端的servlet或者php等后台处理逻辑，实现图片的上传。</p>
        <p>点击工具条中的'图象'按钮，选择'上传'页签进行上传，图象文件的大小在服务端限制不能超过100KB。</p>
    </div>
</body>
</html>