<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" >
	<title>湖南省长沙市港通科技有限公司</title>
	<link href="${request.contextPath}/css/css.css" rel="stylesheet" type="text/css" />
	<script src="${request.contextPath}/js/focus.js" type="text/javascript"></script>
    <style type="text/css">
    	a:link {
        	text-decoration: none;
        }
        a:visited {
        	text-decoration: none;
        }
        a:hover {
        	text-decoration: none;
        }
        a:active {
        	text-decoration: none;
        }
    </style>
</head>

<body>
	<div id="container">
	<!--------头部区域-------->
		<div id="header">  
			<div id="logo"><img src="${request.contextPath}/css/images/logo.png" width="160" height="85" align="left" /></div>
			<div id="menu">
			<ul>
				<li><a href="${request.contextPath}/fast/web/index">首页</a></li>
				<li><a href="${request.contextPath}/fast/web/news">新闻动态</a></li>
				<li><a href="${request.contextPath}/fast/web/qualification">公司资质</a></li>
				<li><a href="${request.contextPath}/fast/web/solution">解决方案</a></li>
				<li><a href="${request.contextPath}/fast/web/about">关于我们</a></li>
				<li><a href="${request.contextPath}/fast/web/contact" class="active">联系我们</a></li>
			</ul>
			</div>
			<div id="banner"></div>
		</div></div>
		<!--------主体区域-------->
		<div id="main2">
		  <img src="${request.contextPath}/css/images/dizhi.png" align="right" width="350px" height="350px" />
		  <div class="left_content">
            	<div class="calendar_box">
                	<div class="calendar_box_content">
                		<h3 align="left">联系我们</h3>
                        <div align="left"><img src="${request.contextPath}/css/images/contact_icon.gif" alt="" title="">
                        </div>
                        <p align="left" class="contact_info">
					<span class="orange">Adress:</span> 湖南省长沙市德雅路583号<br>
					<span class="orange">Telephone:</span> 0731-85519869<br>
					<span class="orange">Fax:</span> <br>
					<span class="orange">Email:</span> <a href="mailto:stoneling@126.com">stoneling@126.com</a><br>
                        </p>
                	</div>
                </div>

                  <div id="contact_form">
                   <h3 align="center">联系我们</h3>
                    <div class="form_row">
                    <label>Name:</label><input name="name" class="contact_input" type="text">
                    </div>
                    <div class="form_row">
                    <label>Email:</label><input name="email" class="contact_input" type="text">
                    </div>
                     <div class="form_row">
                    <label>Phone:</label><input name="phone" class="contact_input" type="text">
                    </div>
                    <div class="form_row">
                    <label>Message:</label><textarea name="name" class="contact_textarea" style="resize:none"></textarea>
                    </div> 
					<a href="#" class="read_more">send</a>       
				<div id="pagebody"><br/><br/>
       
				</div>
			</div>
			  <div id="rightPan" align="right"></div>
			</div>
	  </div>
		<!--页面底部,(版权说明)-->
		  <div id="footer_bg">
		  	<div id="footer">
	 		  <p style="float: none; text-align: right;"><a href="#">湖南省港通科技有限公司</a><br/>
	 		  	<a>公司邮箱:stoneling@126.com</a><br/>
		&copy; Copyright 2012,公司地址: <a href="#">湖南省长沙市德雅路583号</a></p>
				 </div>
		  </div>
	</div>
</body>
</html>
